<div class="wrapper col3">
  <div class="container">
    <h1>Login</h1>
    
    <%= form_for(:session, :url => sessions_path) do |f| %>
      <div>
        <%= f.label :Email %><br />
        <%= f.text_field :email %>
      </div>
      <br>
      <div>
        <%= f.label :Passwort %><br />
        <%= f.password_field :password %>
      </div>
      <br>
      <div>
        <%= f.submit "Anmelden" %>
      </div>
    <% end %>
  </div>
</div>