.wrapper.col3
  .container
    %h1= t('Football')
    %br
    = link_to image_tag('_wsb_137x140_wappen-sportfreundeelxleben.jpg'), 'http://www.sportfreunde-elxleben.de' , :class => 'imgl'
    %p= t('Playing football is cool, dont you think?')
    %p= t('Give it a try with our football club Sportfreunde Elxleben!')
    
    %p
      = t('In any case take a look to the website')
      = link_to "www.sportfreunde-elxleben.de","http://www.sportfreunde-elxleben.de"
      = t('where you find more information about the club')
    %br
    %br
    %br
    %br
    