<div class="wrapper col2">
  <div class="container">
    <div class="homecontent">
      <ul>
        <li>
          <h2 class="title"><%= image_tag "brian_may_signature_02.jpg", :alt => "", :size => '80x60' %>Musik</h2>
          <p>Brian May Signature Gitarre</p>
          <p class="readmore"><%= link_to 'weiterlesen', 'music' %></p>
          <!-- <p class="readmore"><a href="#">Continue Reading &raquo;</a></p> -->
        </li>
        <li>
          <h2 class="title"><%= image_tag "_wsb_137x140_wappen-sportfreundeelxleben.jpg", :alt => "", :size => '60x60' %>Fußball in Elxleben</h2>
          <p class="readmore"><%= link_to 'weiterlesen', 'football' %></p>
        </li>
        <li class="last">
          <h2 class="title"><%= image_tag "Naturdenkmal.png", :alt => "", :size => '70x60' %>Seen in Erfurt</h2>
          <p class="readmore"><%= link_to 'weiterlesen', 'lakes' %></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>