<%= render @my_partials_subdir+'sample_primary_navigation' %>
<div class="wrapper col4">
  <div class="container">
    <div id="content">
      <!-- Beispielinhalt -->
      <%= render @my_partials_subdir+'sample_content' %>
      <!-- Beispieltabelle -->
      <%= render @my_partials_subdir+'sample_table' %>
      <!-- Beispielkommentare (gepostet) -->
      <%= render @my_partials_subdir+'sample_comments' %>
      <!-- Beispielformular -->
      <%= render @my_partials_subdir+'sample_form' %>
    </div>
    <div id="column">
      <%= render @my_partials_subdir+'sample_secondary_navigation' %>
      <%= render @my_partials_subdir+'sample_holder' %>
    </div>
    <br class="clear" />
  </div>
</div>




