<div class="wrapper col2">
  <div class="container">
    <div class="homecontent">
      <ul>
        <li>
          <h2 class="title"><%= image_tag "60x60.gif", :alt => "" %>Nullamlacus dui ipsum conseque loborttis</h2>
          <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>. Nullam lacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2 class="title"><%= image_tag "60x60.gif", :alt => "" %>Nullamlacus dui ipsum conseque loborttis</h2>
          <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2 class="title"><%= image_tag "60x60.gif", :alt => "" %>Nullamlacus dui ipsum conseque loborttis</h2>
          <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div class="container">
    <div class="pagination">
      <ul>
        <li class="first"><a href="#">First</a></li>
        <li class="prev"><a href="#">Prev</a> </li>
        <li class="pnum"><a href="#">1</a></li>
        <li class="pnum"><a href="#">2</a></li>
        <li class="pnum"><a href="#">3</a></li>
        <li class="pnum"><a href="#">4</a></li>
        <li class="current">5</li>
        <li class="pnum"><a href="#">6</a></li>
        <li class="pnum"><a href="#">7</a></li>
        <li class="pnum"><a href="#">8</a></li>
        <li class="pnum"><a href="#">9</a></li>
        <li class="next"><a href="#">Next</a></li>
        <li class="last"><a href="#">Last</a></li>
      </ul>
    </div>
    <div class="gallery">
      <ul>
        <%= @my_image_title = "Bernd und Thomas auf dem Weg zum Angeln";
          @my_284_by_224 = 'ThomasBernd_284.jpg'; @my_500_by_500 = 'ThomasBernd_700.jpg';
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "... und eine Generation später : Linus";
          @my_284_by_224 = "Linus02_284.jpg"; @my_500_by_500 = "Linus02_700.jpg";
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "Das Tantchen";
          @my_284_by_224 = 'Silvana01_284.jpg'; @my_500_by_500 = "Silvana01.jpg";
          render 'shared/large_image_preview_last'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview_last'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview'
        %>
        <%= @my_image_title = "Indonectetus facilis leo nibh";
          @my_284_by_224 = "284x224.gif"; @my_500_by_500 = "500x500.gif";
          render 'shared/large_image_preview_last'
        %>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->


