<div class="wrapper col2">
  <div class="container">
    <div class="homecontent">
      <ul>
        <li>
          <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque loborttis</h2>
          <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>. Nullam lacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque loborttis</h2>
          <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque loborttis</h2>
          <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div class="container">
    <div class="pagination">
      <ul>
        <li class="first"><a href="#">First</a></li>
        <li class="prev"><a href="#">Prev</a> </li>
        <li class="pnum"><a href="#">1</a></li>
        <li class="pnum"><a href="#">2</a></li>
        <li class="pnum"><a href="#">3</a></li>
        <li class="pnum"><a href="#">4</a></li>
        <li class="current">5</li>
        <li class="pnum"><a href="#">6</a></li>
        <li class="pnum"><a href="#">7</a></li>
        <li class="pnum"><a href="#">8</a></li>
        <li class="pnum"><a href="#">9</a></li>
        <li class="next"><a href="#">Next</a></li>
        <li class="last"><a href="#">Last</a></li>
      </ul>
    </div>
    <div class="gallery">
      <ul>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 1 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 2 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 3 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 4 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 5 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 6 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 7 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 8 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <p class="imgtitle">Indonectetus facilis leo nibh</p>
          <%=link_to image_tag("284x224.gif"), "/assets/500x500.gif", :class=>"fb_image", :title => "Image 9 Link Title Tag", :alt => "" %>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->


