.wrapper.col4
  .container
    %h1= t('Fishing in Thuringia')
    %br
    %p= t('Fishing_0005')
    %br
    %br
    %br
    %h2 Hohenwarte-Stausee
    = image_tag "hohewarte01.png", :class => "imgr", :alt => "", :width => "300"
    %br 
    %br
    %br
    %br
    %p= t('Fishing_0010') 
    %p= t('Fishing_0020') 
    %br.clear
    = image_tag "hohewarte02.png", :class => "imgl", :alt => "", :width => "300"
    %br 
    %br
    %br
    %br
    %p= t('Fishing_0030')
    %br.clear
.wrapper.col4
  .container
    %h2 Scheibengrube Tonndorf
    = image_tag "Naturdenkmal.png", :width => "175", :alt => "", :class => "imgr"
    = image_tag "Tonndorf01.png", :class=> "imgl", :alt => "", :width => "400"
    %br
    %br
    %br
    %p= t('Fishing_0040')
    %p 
      =t('Size')
      \: ca. 0,8 ha
    %p
    %p Hauptfischarten:
    %p Karpfen, Schleien, schöne Hechte, Aale und verschiedene Weißfischarten etc..
    %br
    %br
    %br
    %br.clear
.wrapper.col4
  .container
    %h2 Mittelhausen, Neuer Kiessee II
    = image_tag "Kiessee02.png", :class=> "imgr", :alt => "", :width => "300", :title => "Neugierige Kolbenente im Neuen Kiessee II"
    %br
    %br 
    %p Als Altgewässer ist dieser See für einige Überraschungen gut, hervorragende Fänge an Karpfen, Aal, Schleie, Hecht, Barsch und Zander.
    %p Zu meiden ist das Steilufer am Werkgelände aus Gründen von Gefahren. 
    %p Dieser See ist verbunden mit dem unmittelbar davorliegenden Gewässer. 
    %p Ein guter Fischbesatz prägt das Altgewässer mit Fangerfolg.
    %br.clear
    %br
    = image_tag "Kiessee01.png", :class=> "imgl", :width => "950", :alt => ""
    %br.clear
.wrapper.col4
  .container
    %h2 Reihersee Mittelhausen
    = image_tag "Reihersee01.png", :class=> "imgl", :width => "400", :alt => ""
    %br
    %br
    %br
    %p Diese Gewässer sind über Mittelhausen von Erfurt kommend in Richtung Nöda zu erreichen. 
    %p In Mittelhausen am Gasthaus ,,Zur Sonne” links abbiegen. 
    %p Nach ca. 100 m wird der Denkmalsweg erreicht. 
    %p Diesem folgen Sie bis an die Gewässer. 
    %p Sie können die genannten Kiesseen auch erreichen, in dem Sie durch Mittelhausen die Straße nach Nöda fahren. 
    %p Ca. nach einem Kilometer in Höhe des Wäldchens links abbiegen und den befestigten Elxlebener Feldweg bis zum Reihersee fahren. 
    %p Hier sind auch der Hechtsee, Plötzensee, Karpfenteich und der Kiessee im Geländer des Werkes (ZBO) zu erreichen
    %br.clear
.wrapper.col4
  .container
    %h2 Schaafsteich Elxleben
    = image_tag "schaafsteich01.png", :class=> "imgl", :width => "500", :alt => "", :title => "Winter 2012 am Schaafsteich Elxleben"
    <iframe width="425" height="340" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?hl=de&amp;ie=UTF8&amp;ll=50.875425,11.067556&amp;spn=0.01771,0.052314&amp;t=m&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.de/maps?hl=de&amp;ie=UTF8&amp;ll=50.875425,11.067556&amp;spn=0.01771,0.052314&amp;t=m&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
    %br.clear

