.wrapper.col4
  .container
    %h1= t('Fishing in Thuringia')
    %br
    %p= t('Fishing_0005')
    %br
    %br
    %br
    %h2 Hohenwarte-Stausee
    = image_tag "hohewarte01.png", :class => "imgr", :alt => "", :width => "300"
    %br 
    %br
    %br
    %br
    %p= t('Fishing_0010') 
    %p= t('Fishing_0020') 
    %br.clear
    = image_tag "hohewarte02.png", :class => "imgl", :alt => "", :width => "300"
    %br 
    %br
    %br
    %br
    %p= t('Fishing_0030')
    %br.clear
.wrapper.col4
  .container
    %h2 Scheibengrube Tonndorf
    = image_tag "Naturdenkmal.png", :width => "175", :alt => "", :class => "imgr"
    = image_tag "Tonndorf01.png", :class=> "imgl", :alt => "", :width => "400"
    %br
    %br
    %br
    %p= t('Fishing_0040')
    %p 
      =t('Size')
      \: ca. 0,8 ha
    %p
    %p= t('Fishing_0050')
    %p= t('Fishing_0060')
    %br
    %br
    %br
    %br.clear
.wrapper.col4
  .container
    %h2 Mittelhausen, Neuer Kiessee II
    = image_tag "Kiessee02.png", :class=> "imgr", :alt => "", :width => "300", :title => "Neugierige Kolbenente im Neuen Kiessee II"
    %br
    %br 
    %p=t('Fishing_0070')
    %p=t('Fishing_0080')
    %p=t('Fishing_0090')
    %p=t('Fishing_0100')
    %br.clear
    %br
    = image_tag "Kiessee01.png", :class=> "imgl", :width => "950", :alt => ""
    %br.clear
.wrapper.col4
  .container
    %h2 Reihersee Mittelhausen
    = image_tag "Reihersee01.png", :class=> "imgl", :width => "400", :alt => ""
    %br
    %br
    %br
    %p= t('Fishing_0110')
    %p= t('Fishing_0120')
    %p= t('Fishing_0130')
    %p= t('Fishing_0140')
    %p= t('Fishing_0150')
    %p= t('Fishing_0160')
    %p= t('Fishing_0170')
    %br.clear
.wrapper.col4
  .container
    %h2 Schaafsteich Elxleben
    = image_tag "schaafsteich01.png", :class=> "imgl", :width => "500", :alt => "", :title => "Winter 2012 am Schaafsteich Elxleben"
    <iframe width="425" height="340" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?hl=de&amp;ie=UTF8&amp;ll=50.875425,11.067556&amp;spn=0.01771,0.052314&amp;t=m&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.de/maps?hl=de&amp;ie=UTF8&amp;ll=50.875425,11.067556&amp;spn=0.01771,0.052314&amp;t=m&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
    %br.clear

