.wrapper.col3
  .container
    %h1
      = t('Bought')
      2011 : Brian May Signature 
      = t('Guitar')
    = image_tag "brian_may_signature_02_large.jpg", :class=> "imgr", :alt => "", :size => "375x248"
    %br
    %p= t('Technical data :')
    %p= t('Neck : Mahagoni, glued')
    %p Korpus: Mahagoni
    %p= t('Type : Solidbody with acoustic chambers') 
    %p= t('Mechanics: Grover GH Locking')
    %p
      = t('Pickups')
      \: 3x Burns TriSonic Singlecoils
    %p= t('Controller : 1x Master Volume & 1x Tone controls')
    %p= t('Switches: 6x Two-Way-Push-Switches(On/Off and Phase per Pickup)')
    %p 
      = t('Bridge')
      \: Wilkinson Tremolo System
    %p
      = t('Color')
      \: Antique Cherry
    %br
    %p  
    = link_to t('Brian May official homepage'), "http://www.brianmay.com"
    %p
    / = link_to image_tag("bmg_logo150x75.gif", :alt => ""), 'http://www.brianmayguitars.co.uk'
    / = audio_tag "firefighters.ogg", :controls => true 
    / place .ogg-file in /public/audios/*.ogg for viewing with firefox




