.wrapper.col3
  .container
    %h2
      =t('Received') 
      Posts
    %table{:summary=>"Summary Here", :cellpadding=>"0", :cellspacing=>"0" }
      %thead
        %tr
          %th= t('Time')
          %th= t('Contents')
          %th= t('Action')
      %tbody
        - row = 0
        - @m_microposts.each do |mp|
          - row = row + 1
          - if (row % 2) == 0
            <tr class="light">
          - else
            <tr class="dark">
          %td
            = time_ago_in_words(mp.created_at) 
            ago id
            = mp.id
          %td
            -# wrap -> see MicropostsHelper    
            = wrap( mp.content )
          %td
            = link_to t('Delete'), mp, :method => :delete, :confirm => t('Contact_0020'), :title => mp.content
          </tr>
