
<div class="wrapper col1">
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">Die Elxlebener</a></h1>
      <p><a href="http://www.os-templates.com/" title="Free Website Templates">Photomatic design by OS Templates</a></p>
    </div>
    <div id="topnav">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <!-- <li><%= link_to "Login", home_path %></li> -->
        <li><%= link_to "Bilder", home_path %></li>
        <li><%= link_to "Musik", music_path %></li>
        <li><%= link_to "Kontakt", home_path %></li>
        <li><%= link_to "Fußball", football_path %></li>
        <li><%= link_to "Entwicklung", credits_path %></li>
        <!--
        <li><%= link_to "Index Demo", index_demo_path %></li>
        <li><%= link_to "Full Width Demo", full_width_demo_path %></li>
        <li><%= link_to "Style Demo", style_demo_path %></li>
        -->
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>